.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: auto;
  margin-top: 20px;
}

.input-for-search {
  flex: 1;
  padding: 8px;
  border: none;
  margin-right: 8px;
  outline: none;
  font-size: 16px;
  border-radius: 15px;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 100%;
  background-color: #ffa200;
  color: #fff;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #e54700;
}


/* Media query for responsive layout */
@media screen and (max-width: 531px) and (min-width: 350px) {
  .search-container { 
    width: 100%;
  } 
}